@charset "UTF-8";

/* em HTML é id = #
em HTML class = . */

@import url('https://fonts.cdnfonts.com/css/avenir');
body {
    font-family: 'Arial', sans-serif;
 
}
h1 {
    text-align: center;
    
    
}
h2 {
    text-align: center;
    
}

h1#principal  {
    text-align: center;
    color: white;
    background-color: rgb(121, 121, 121);
    
}

.basico {
    color: rgb(0, 70, 0);
}

.intermediario {
    color: rgb(119, 119, 0);
}

.avancado {
    color: rgb(167, 0, 0);
    font-weight: bolder;
    font-size: 30px;
    font-family:monospace;
    
}