@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

body {
    margin: 0px;
}

header h1 {
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 50px;
    font-variant: small-caps;
    
}



header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 3.5vw;
    
}

section p {
    font-family: 'Sriracha', cursive;
    margin: 0px;
    font-size: 5vw;
    
    
    
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

.caixa-1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0px black;

    
}

.caixa-2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
  

}

.fundo-1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    display: block;
    box-shadow: inset 1px 1px 20px 0px;
}

.fundo-2 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    display: block;
    box-shadow: inset 1px 1px 20px 0px;
}
